@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

:root {
    --branco: #fff;
    --preto: #111;
    --azul: #40c3ff;
    --fonte: 'Poppins', sans-serif;
}

.secao {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    background: var(--preto);
    transition: 0.5s;
    z-index: 2;
}

.secao.active {
    transform: translateX(-400px);
}

.navegacao {
    position: fixed;
    top: 0;
    right: -200px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
    background: var(--azul);
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    color: var(--branco);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

header .toggle {
    position: relative;
    background: url('/assets/img/menu.png');
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.conteudo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.conteudo .conteudo-texto {
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.conteudo-texto h2 {
    color: var(--branco);
    font-size: 2em;
    font-weight: 700;
}

.conteudo-texto h2 span {
    color: var(--azul);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
}

.conteudo-texto p {
    color: var(--branco);
    font-weight: 500;
    margin-bottom: 30px;
}

.saiba-mais {
    background: var(--branco);
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 700;
    color: var(--preto);
    font-size: 20px;
    text-decoration: none;
}

.redes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.redes li {
    list-style: none;
}

.redes li a {
    position: relative;
    text-decoration: none;
    display: grid;
    width: 50px;
    height: 50px;
    border: 1px solid var(--branco);
    place-items: center;
    margin: 10px 0 0;
}

.redes li a:hover {
    background: var(--branco);
}

.redes li a img {
    filter: invert(1);
    mix-blend-mode: difference;
    max-width: 20px;
}

.navegacao {
    position: fixed;
    width: 600px;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.navegacao li {
    list-style: none;
}

.navegacao li a {
    text-decoration: none;
    color: var(--branco);
}