@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

:root {
    --branco: #fff;
    --preto: #111;
    --azul: #40c3ff;
    --fonte: 'Poppins', sans-serif;
}

body {
    background: var(--preto);
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    color: var(--branco);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.toggle {
    position: relative;
    background: url('/assets/img/menu.png');
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.conteudo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 100px;
}

.conteudo .conteudo-texto {
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.conteudo-texto h2 {
    color: var(--branco);
    font-size: 2em;
    font-weight: 700;
}

.conteudo-texto h2 span {
    color: var(--azul);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
}

.conteudo-texto p {
    color: var(--branco);
    font-weight: 500;
    margin-bottom: 30px;
}

.saiba-mais {
    background: var(--branco);
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 700;
    color: var(--preto);
    font-size: 20px;
    text-decoration: none;
}

.redes {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes li {
    list-style: none;
   
}

.redes a {
    text-decoration: none;
}

.redes img {
    filter: invert(1);
    transform: scale(0.6);
}